<template>
    <div class="panel panel-success">
        <div class="panel-heading">
            {{ app.name }}

            <router-link :to="{ path : '/app/application/' + app.id }" class="btn btn-xs btn-warning" style="float: right;">
                <i class="fa fa-gear"></i>
            </router-link>

            <button type="button" class="btn btn-xs btn-danger" style="float: right;" v-on:click="deleteApp">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <div class="panel-body">
            <div>
                Auto send:
                <span v-if="isAutoSendEnabled(app.auto_send) == true">
                                            <i class="fa fa-check text-success"></i>
                                        </span>

                <span v-if="isAutoSendEnabled(app.auto_send) == false">
                                            <i class="fa fa-times text-danger"></i>
                                        </span>
            </div>
            <div>
                Frequency:
                <span v-firstLetterUppercase>{{ app.default_frequency }}</span>
            </div>
        </div>
    </div>
</template>


<script>

    export default{
        props : ['app'],
        methods:{
            isAutoSendEnabled : function(autoSend)
            {
                return (autoSend == 1) ? true : false;
            },

            deleteApp : function()
            {
                this.deleteApplication(this.app).then((response) => {
                    var responseResult;

                    if(response.data.error == false)
                        responseResult =  { "error" : false, "message" : this.app.name + " successfully deleted." };
                    else
                        responseResult =  { "error" : true, "message" : this.app.name + " could not be deleted." };

                    this.$emit('app-deleted', responseResult , this.app.id);
                }, (response) => { /* error callback */ });
            }
        }
    }
</script>
