<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-12">
            <applications-list></applications-list>
        </div>
    </div>
</template>

<script>
    import ApplicationsList from './applications-list/ApplicationsList.vue'

    export default{
        components : {
            'applications-list' : ApplicationsList
        }
    }
</script>
