<template>
    <div class="row">
        <div class="col-md-12">
            Sim
        </div>
    </div>
</template>

<script>

    export default{
        data(){
            return{
                msg:'hello vue'
            }
        }
    }
</script>
