<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="sub-title">Subscribers</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <search-bar :fields="searchFields" :objects="searchSubscribers" v-on:search="searchSubscriber" ></search-bar>
            </div>
        </div>
        <hr>

        <div class="alert alert-success" v-if="confirmationMessage != null && confirmationMessage.error == false">
            <div>{{ confirmationMessage.message }}</div>
        </div>
        <div class="alert alert-danger" v-if="confirmationMessage != null && confirmationMessage.error == true">
            <div>{{ confirmationMessage.message }}</div>
        </div>

        <div class="row">
        </div>

        <div class="row">
            <div class="col-md-12">
                <datatable :row_actions="actions" :api_url="subscriberApiURL" :data="subscribers"  :columns="columns" :options="options" v-on:dataloaded="datatableLoaded"></datatable>
            </div>
        </div>

        <pagination :elements="subscribers" v-on:change-page="changePage"></pagination>


        <div class="modal fade" id="emailSentModal" tabindex="-1" role="dialog" aria-labelledby="emailSentModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="emailSentModalBody">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Pagination from '../../utils/Pagination.vue'
    import DataTable from '../../utils/DataTable.vue'
    import AdvancedSearch from '../../utils/AdvancedSearch.vue'

    export default{
        data : function() {
            return {
                empty : false,
                confirmationMessage : null,
                subscribers : {},
                searchSubscribers : {},

                subscriberApiURL : "/api/application/" + this.$route.params.id + "/subscribers",
                columns: {
                    'email' : {
                        'name' : 'Email'
                    },
                    'last_sent' : {
                        'name' : 'Last Sent',
                        'display' : function(obj){
                            return obj.split(" ")[0];

                        }
                    },
                    'active' : {
                        'name' : 'Active',
                        'display' : function(obj){
                            return obj == 1 ? '<i class="fa fa-check fa-2x text-success"></i>' : '<i class="fa fa-times fa-2x text-danger"></i>';
                        }
                    },
                    'application_id' : {
                        'name': '',
                        'display' : function(obj) { return ''; }
                    }
                },
                options: {

                },
                actions:[
                    {
                        'btnClass' : 'btn btn-sm btn-success',
                        'icon' : 'fa fa-envelope',
                        'name' : 'Send now',
                        'callback' : function(obj){
                            var vueObj = new Vue();

                            vueObj.sendNewsletterToSubscriber(obj).then((response) =>
                            {
                                $("#emailSentModalBody").html(response.data.msg);
                                $("#emailSentModal").modal('show');
                            }, (response) => {/* error callback */});
                        },

                    },
                    {
                        'icon' : 'fa fa-trash',
                        'conditional' :
                        {
                            'param' : 'active',
                            'name' : {
                                'true' : 'Deactivate',
                                'false' : 'Activate'
                            },
                            'btnClass' : {
                                'true' : 'btn btn-sm btn-danger',
                                'false' : 'btn btn-sm btn-success'
                            }
                        },
                        'callback' : function(obj){
                            var vueObj = new Vue();
                            var request;
                            if(obj.active)
                                request = vueObj.deactivateSubscriber(obj);
                            else
                                request = vueObj.activateSubscriber(obj);
                            request.then((response) =>
                                {
                                    window.location.reload();
                                }, (response) => {/* error callback */});
                        }
                    }
                ],

                searchFields : [
                    {
                        'id' :'email',
                        'name' : 'Email'
                    },
                    {
                        'id' :'last_sent',
                        'name' : 'Last Sent'
                    }
                ]
            }
        },

        methods:{

            changePage : function () {
            },

            searchSubscriber : function (subscribersList) {
                this.subscribers = subscribersList;
            },

            datatableLoaded : function(value) {
                this.subscribers = value;
                this.searchSubscribers = value;
            }

        },

        components: {
            'search-bar' : AdvancedSearch,
            'pagination' : Pagination,
            'datatable' : DataTable
        }
    }
</script>
