<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="search-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search..." v-model="searchQuery"
                               v-on:keyup="searchAll"/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" v-for="filter in filters">
                <div class="col-md-4">
                    <select class="form-control" v-model="filter.field">
                        <option v-for="sOption in fields" v-bind:value="sOption.id">{{ sOption.name }}</option>
                    </select>
                </div>
                <div class="col-md-7">
                    <input class="form-control" type="text"  v-model="filter.text"/>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-sm btn-default" type="text"  v-on:click="removeFilter(filter.field)" >
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-sm btn-warning" v-on:click="newFilter">
                        + Filter
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-sm btn-success" v-on:click="search">Apply</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props : ['fields', 'objects'],

        data: function() {
            return {
                searchQuery : "",
                filters : [],
                searchObjects : []
            }
        },

        created : function(){

        },

        methods: {
            searchAll : function(){
                var searchString = this.searchQuery;
                var searchObjects = this.objects;

                this.searchObjects = searchObjects.filter(function(value){
                    var exists = false;
                    for(var k in value)
                    {
                        exists = (String(value[k]).indexOf(searchString) !== -1);
                        if(exists)
                            break;
                    }
                    return exists;
                });

                this.$emit("search", this.searchObjects);
            },

            search : function(){
                this.searchObjects = this.objects;
                console.log(this.objects);
                for(var i = 0; i < this.filters.length ; i++)
                {
                    var currentFilter = this.filters[i];
                    this.searchObjects = this.searchObjects.filter(function(value){
                        return value[currentFilter.field].indexOf(currentFilter.text) !== -1;
                    });
                }

                console.log(this.objects);
                this.$emit("search", this.searchObjects);
            },

            removeFilter : function (filterField){
                var filtersTemp = [];

                for(var i = 0; i < this.filters.length; i++)
                {
                    if(this.filters[i].field != filterField)
                        filtersTemp.push(this.filters[i]);
                }

                this.filters = filtersTemp;

                this.search();
            },
            newFilter : function(){
                this.filters.push({
                    'field' : this.fields[0].id,
                    'text' : ""
                });
            }
        }
    }
</script>
