<template>
    <div class="row">
        <loading-component :isLoading="loading" style="margin-bottom: 4em;"></loading-component>

        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-sm btn-success" v-on:click="exportExcel">Export as PDF</button>
            </div>
        </div>
        <table class="col-md-12 table table-striped table-hover table-responsive datatable"  v-if="! loading && ! empty">
            <thead>
            <tr>
                <th v-for="column in columns">{{ column.name }}</th>
                <th v-if="row_actions.length > 0">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="element in elements">
                <td v-for="(column,key) in columns"
                    v-if="typeof column !== 'undefined'"
                    v-html="typeof column.display !== 'undefined' ? column.display(element[key]) : element[key]" />
                <td>
                    <button v-for="action in row_actions"
                            v-bind:class="action.btnClass ? action.btnClass :
                                (element[action.conditional.param] == true
                                    ? action.conditional.btnClass.true
                                    : action.conditional.btnClass.false)"
                            v-on:click="action.callback(element)"
                            style="margin-right: 1em;">
                        <i v-bind:class="action.icon"></i>

                        <span v-if="typeof action.conditional === 'undefined'">
                            {{ action.name }}
                        </span>
                        <span v-if="typeof action.conditional !== 'undefined' && element[action.conditional.param] == true">
                            {{ action.conditional.name.true }}
                        </span>
                        <span v-if="typeof action.conditional !== 'undefined' && element[action.conditional.param] == false">
                            {{ action.conditional.name.false }}
                        </span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="col-md-12 text-center" v-if="empty" style="margin-bottom: 4em;">
            No results found.
        </div>

    </div>
</template>

<script>
    import Loading from './Loading.vue'

    export default{
        props: ['columns', 'api_url', 'data', 'row_actions'],

        components:{
            'loading-component' : Loading
        },

        data(){
            return{
                elements : [],
                loading : false,
                empty : false
            }
        },
        watch : {
            columns : function (val, oldVal) {
                this.getDataFromURL(this.api_url);
            },
            api_url : function ()
            {
                this.getDataFromURL(this.url);
            },
            data : function (value){
                this.elements = value;
                this.elements.filter(function(itemA){
                    return true;
                });
            }
        },
        created : function(){
            this.getDataFromURL(this.api_url);
        },
        methods : {
            exportExcel : function()
            {
                 $(".datatable").table2excel({
					exclude: ".noExl",
					name: "Excel Document Name",
					filename: "myFileName",
					fileext: ".xls",
					exclude_img: true,
					exclude_links: true,
					exclude_inputs: true
				});

            },

            getDataFromURL : function (url)
            {
                if(url == null)
                    return;

                this.loading = true;
                this.$http.get(url)
                    .then((response) =>
                    {
                        for(var i = 0; i < response.body.length ; i++)
                        {
                            var item = response.body[i];
                            var object = {};

                            for(var key in this.columns)
                            {
                                 object[key] = item[key];
                            }

                            this.elements.push(object);
                        }


                        if(this.elements.length == 0)
                            this.empty = true;

                        this.loading = false;

                        this.$emit("dataloaded", this.elements);
                    }, (response) => { });
            },

            filter : function(column, search)
            {
            }
        },
    }
</script>
