<template>
    <div class="col-md-12 text-center" v-if="isLoading">
        <img src="/imgs/gears.svg" /><br/><br/>
        Loading, Please Wait
    </div>
</template>

<script>

    export default{
        props : ['isLoading'],

    }
</script>
