<template>
    <div class="row">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <button v-for="n in numberPages"  v-on:click="changePage(n)" class="btn btn-sm btn-primary">{{ n }}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5 text-center">
                <div class="form-group"  style="display: inline-block;">
                    <label ># per page:</label>
                    <select class="form-control" v-model="numberElementsPerPage" v-on:change="changePage(currentPage)" >
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['elements'],
        data(){
            return {
                numberPages : 1,
                currentPage : 1,
                numberElementsPerPage : 10,
                fullElements : {},
                showingElements : {}
            }
        },
        watch : {
            elements : function (value) {
                this.fullElements = value;
                this.showingElements = value;
                this.numberPages = Math.ceil(this.fullElements.length / this.numberElementsPerPage);
                this.changePage(this.currentPage);
            }
        },
        methods: {
            changePage : function(nextPage){
                this.currentPage = nextPage;
                this.showingElements = this.fullElements;
                this.showingElements = this.showingElements.slice(
                                        (this.currentPage-1) * this.numberElementsPerPage,
                                        this.currentPage * this.numberElementsPerPage);


                this.$emit("change-page", this.showingElements);
            }
        }
    }
</script>
