<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="input-group">
        <span class="input-group-addon" id="search-addon">
            <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Search..." v-model="searchQuery"
               v-on:keyup="search"/>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                searchQuery : ""
            }
        },
        methods: {
            search : function(){
                this.$emit("search", this.searchQuery);
            }
        }
    }
</script>
