<template>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2>Delivery Report</h2>
            </div>
        </div>
        <br />

        <delivery-log-table :deliveries="totalDeliveryLog" />

        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Since beginning</h3>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center">Send All & Specific</h4>
                <hr />
                <send-all-against-send :failures="failuresSinceBeginning" ></send-all-against-send>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Success vs Failures</h4>
                <hr />
                <success-rate :failures="failuresSinceBeginning" :success="successSinceBeginning"></success-rate>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Rates</h4>
                <hr />
                <rates-begin :failures="failuresSinceBeginning" :success="successSinceBeginning"></rates-begin>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4 class="text-center">Failures/Successful per month on
                    <select class="form-control" v-model="year">
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                    </select>
                </h4>

                <hr />
                <failures-per-month-chart :monthlyLog="monthlyDeliveryLogs"></failures-per-month-chart>
            </div>
        </div>


    </div>
</template>

<script>

    import Test from './components/charts/SendAllAgainsSend.vue'
    import SuccessRateChart from './components/charts/SuccessRateChart.vue'
    import FailuresPerMonthChart from './components/charts/FailuresPerMonthChart.vue'
    import RatesSinceBegin from './components/RatesSinceBegin.vue'
    import DeliveryLogTable from './components/DeliveryLogTable.vue'

    export default{
        data(){
            return{
                failuresSinceBeginning : [],
                successSinceBeginning : [],
                totalDeliveryLog : [],
                monthlyDeliveryLogs : [],
                year : 2016,
            }
        },
        created () {
            this.$http.get('/api/application/1/delivery_log?groups=["delivered"]').then((response) => {
                if ("1" in response.data.delivered)
                {
                    this.failuresSinceBeginning = response.data.delivered["0"];
                    this.successSinceBeginning = response.data.delivered["1"];
                }else {
                   if(response.data.delivered[0][0].delivered == true)
                        this.successSinceBeginning = response.data.delivered[0];
                    else
                        this.failuresSinceBeginning = response.data.delivered[0];
                }

                this.totalDeliveryLog = this.getTotalDeliveryLog();
            });


            this.$http.get('/api/application/1/delivery_log?groups=["month"]&year=' + this.year).then((response) => {
                this.monthlyDeliveryLogs = response.data.month;
            });
        },

        watch : {
            year : function() {
                this.$http.get('/api/application/1/delivery_log?groups=["month"]&year=' + this.year).then((response) => {
                    this.monthlyDeliveryLogs = response.data.month;
                });
            }
        },

        methods: {
            getTotalDeliveryLog : function() {
              var totalDelivery = [];
              totalDelivery = this.failuresSinceBeginning;
              totalDelivery = totalDelivery.concat(this.successSinceBeginning);
              // Sort delivery log by date
              totalDelivery.sort(function(itemA, itemB)
              {
                  return Date.parse(itemB.when_date) - Date.parse(itemA.when_date);
              });
              return totalDelivery;
            }
        },

        components :{
            'send-all-against-send' : Test,
            'failures-per-month-chart' : FailuresPerMonthChart,
            'success-rate' : SuccessRateChart,
            'rates-begin' : RatesSinceBegin,
            'delivery-log-table' : DeliveryLogTable
        }
    }
</script>
