<template>
    <div class="row">

        <loading-component :isLoading="loading"></loading-component>

        <div class="row" v-if="! loading">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <edit-view :app="application"></edit-view>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <commands-view :app="application"></commands-view>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <newsletter-view :app="application"></newsletter-view>
            </div>
        </div>


    </div>
</template>

<script>

    import CommandsView from './Commands.vue'
    import NewsletterView from './NewsletterView.vue'
    import EditView from './Edit.vue'
    import Loading from '../utils/Loading.vue'

    export default{
        data(){
            return{
                application: {id : -1},
                loading : true,
                error : false,

            }
        },

        created: function() {
            this.application.id = this.$route.params.id;
            this.fetchApplication();
        },

        methods : {
            fetchApplication: function()
            {
                this.loading = true;
                this.getApplication(this.application.id).then((response) =>
                {
                    if(response.data.error == false)
                    {
                        this.application = response.data.application;
                    }else{
                        this.error = response.data.error;
                    }
                    this.loading = false;
                }, (response) => {
                    // error callback
                });
            },


        },
        components:{
            'edit-view' : EditView,
            'newsletter-view' : NewsletterView,
            'commands-view' : CommandsView,
            'loading-component' : Loading
        }
    }
</script>
