<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Commands
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success" v-if="postResult != null && postResult.error == false">
                                {{ postResult.msg }}
                            </div>

                            <div class="alert alert-danger" v-if="postResult != null && postResult.error == true">
                                {{ postResult.msg }}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-success" v-on:click="sendToAll">
                        <img src="/imgs/gears.svg" v-if="sendingAll" width="20px"/>
                        <i class="fa fa-envelope" v-if="! sendingAll" ></i> Send To All
                    </button>


                    <button type="button" class="btn btn-sm btn-danger" v-on:click="deleteApp">
                        <i class="fa fa-trash"></i> Remove application
                    </button>

                    <a v-bind:href="allSubscribersURL" class="btn btn-sm btn-warning">
                        <i class="fa fa-users"></i> View Subscribers
                    </a>

                    <a v-bind:href="generateReportURL" class="btn btn-sm btn-info">
                        <i class="fa fa-users"></i> Generate Report
                    </a>


                    <a v-bind:href="deliveryReportURL" class="btn btn-sm btn-danger">
                        <i class="fa fa-users"></i> Delivery Report
                    </a>

                </div>
            </div>
        </div>
    </div>
</template>


<script>

    export default{
        props: ['app'],
        data(){
            return{
                sendingAll : false,
                postResult : null,
                allSubscribersURL : "/app/application/" + this.app.id + "/subscribers",
                generateReportURL : "/app/application/" + this.app.id + "/report",
                deliveryReportURL : "/app/application/" + this.app.id + "/delivery-report"
            }
        },
        methods: {
            sendToAll : function(){
                if(this.sendingAll)
                    return;

                let params = {
                    'application_id' : this.app.id
                };
                this.sendingAll = true;
                this.$http.post('/api/application/send_all', params)
                .then((response) => {
                    this.sendingAll = false;
                    if(response.data.error == false)
                    {
                        this.postResult = response.data;
                    }else{
                        this.postResult = response.data;
                    }
                }, (response) => {
                    this.postResult = response.data;
                });
            },

            deleteApp : function()
            {
                this.deleteApplication(this.app).then((response) => {
                    this.postResult = response.data;

                    setTimeout(function(){
                        window.location.href = "/app/";
                    }, 1000);

                }, (response) => { /* error callback */ });
            }
        }
    }
</script>
