<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">New Application</div>

                <div class="panel-body">
                    <div class="alert alert-success" v-if="postResult != null && postResult.error == false">
                        <div>{{ postResult.msg }}</div>
                    </div>
                    <div class="alert alert-danger" v-if="postResult != null && postResult.error == true">
                        <div v-for="error in postResult.errors">{{ error[0] }}</div>
                    </div>

                    <form>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" v-model="application.name"
                                   placeholder="Your application name">
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" v-model="application.email"
                                   placeholder="Email used to send newsletter">
                        </div>

                        <div class="form-group">
                            <label>Auto Send Newsletter</label>
                            <div class="material-switch pull-right">
                                <input id="auto_send" type="checkbox"
                                       v-model="application.auto_send"/>
                                <label for="auto_send" class="label-success"></label>
                            </div>
                        </div>

                        <div class="form-group" id="frequency-selection" v-if="application.auto_send == true">
                            <label>Frequency</label>
                            <select class="form-control" name="frequency">
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                            </select>
                        </div>

                        <button v-if="isButtonDisabled" type="button" class="btn btn-primary" disabled>Save</button>
                        <button v-if="! isButtonDisabled" type="button" v-on:click="saveApp" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                application : {
                    "name" : "",
                    "email" : "",
                    "auto_send" : ""
                },
                postResult : null,
                isButtonDisabled : false
            }
        },
        methods : {
            saveApp : function(){
                this.createApplication(this.application)
                 .then((response) => {
                    this.$data.loading = false;
                    if(response.data.error == false)
                    {
                        this.postResult = response.data;
                        this.isButtonDisabled = true;
                    }else{
                        this.postResult = {
                            "error" : true,
                            "errors" : response.body
                        };
                    }
                }, (response) => {
                    this.postResult = {
                        "error" : true,
                        "errors" : response.body
                    };
                });
            }
        }
    }
</script>
