<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-danger" v-if="error != null">
                        {{ error }}
                    </div>
                    <div class="panel panel-default" v-if="error == null">
                        <div class="panel-heading">Application Information</div>

                        <div class="panel-body">
                            <div class="alert alert-success" v-if="saving == true">
                                <div>Saving new information...</div>
                            </div>
                            <div class="alert alert-success" v-if="postResult != null && postResult.error == false">
                                <div v-html="postResult.msg"></div>
                            </div>
                            <div class="alert alert-danger" v-if="postResult != null && postResult.error == true">
                                <div v-html="postResult.msg"></div>
                            </div>

                            <form>
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" v-model="app.name"
                                           placeholder="Your application name">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" v-model="app.email"
                                           placeholder="Email used to send newsletter">
                                </div>


                                <div class="form-group">
                                    <label for="public_key">Public Key:</label>
                                    <input type="text" class="form-control" id="public_key" v-model="app.api_token"
                                           readonly>
                                    <!-- Trigger -->
                                    <button class="btn btn-warning btn-sm" type="button" data-clipboard-target="#public_key">
                                        <i class="fa fa-clipboard"></i>&nbsp&nbsp Copy to clipboard
                                    </button>
                                </div>

                                <div class="form-group">
                                    <label>Auto Send Newsletter</label>
                                    <div class="material-switch pull-right">
                                        <input id="auto_send" type="checkbox"
                                               v-model="app.auto_send"/>
                                        <label for="auto_send" class="label-success"></label>
                                    </div>
                                </div>

                                <div class="form-group" id="frequency-selection" v-if="app.auto_send == true">
                                    <label>Frequency</label>
                                    <select class="form-control" v-model="app.default_frequency">
                                        <option value="daily">Daily</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="monthly">Monthly</option>
                                    </select>
                                </div>

                                <button type="button" v-on:click="saveApp" class="btn btn-primary">Update Information</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        props : ['app'],

        data(){
            return{
                saving : false,
                postResult : null
            }
        },

        methods: {
            generateErrorMessage : function(response)
            {
                var msg = "";
                for(var key in response.data)
                {
                    msg += response.data[key] + "<br>";
                }
                return msg;
            },

            saveApp : function(){
                this.saving = true;
                this.saveApplication(this.app).then((response) =>
                {
                    this.postResult = response.data;
                    this.saving = false;

                    this.$emit("app-saved", response.data.application);
                }, (response) => {
                    this.saving = false;

                    this.postResult = {
                        'error' : true,
                        'msg' : generateErrorMessage(response)
                    };
                });

            }
        }

    }
</script>