<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Upload newsletter
                </div>
                <div class="panel-body">
                    <div class="alert alert-success" v-if="saved.error==false">
                        {{ saved.msg }}
                    </div>
                    <div class="alert alert-danger" v-if="saved.error==true">
                        {{ saved.msg }}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="html">URL or HTML:</label>
                                <textarea class="form-control" id="html" v-model="app.newsletter_view" v-on:change="updatePreview">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="websiteURL == true">
                        <div class="col-md-12">
                            It is an url! <button class="btn btn-success btn-sm" v-on:click="updatePreviewWebsite" >Preview</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Preview
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <iframe id="previewFrame" width="100%" height="500px" style="border: 1px solid;background:white;"></iframe>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" v-on:click="saveView">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


    export default{
        props: ['app'],
        data(){
            return {
                saving : false,
                preview : "",
                saved : { 'error' : null , 'msg' : null },
                websiteURL : false,
                showingWebsite : false,
            }
        },
        mounted : function(){
            this.componentMountedOrUpdated();
        },
        updated: function(){
            this.componentMountedOrUpdated();
        },
        methods:{
            componentMountedOrUpdated : function(){
                this.websiteURL = this.validURL(this.app.newsletter_view);

                if(! this.showingWebsite || ! this.websiteURL)
                    this.updatePreview();
            },

            updatePreview : function(){
                this.preview = this.app.newsletter_view;

                this.previewURLContent("previewFrame", this.preview);

                this.showingWebsite = false;
            },

            updatePreviewWebsite : function(){
                this.getWebsitePreview(this.app)
                    .then((response) =>
                    {
                        this.preview = response.data.html;

                        this.previewURLContent("previewFrame", this.preview);

                        this.showingWebsite = true;
                    }, (response) => {/* error callback */});
            },

            saveView: function()
            {
                this.saving = true;

                let params = {
                    'application_id' : this.app.id,
                    'view' : this.app.newsletter_view
                };

                this.updateApplicationNewsletterContent(params).then((response) =>
                {
                    this.saved = response.data;

                    this.saving = false;
                }, (response) => { /* error callback */ });
            },

        }
    }
</script>
