<template>
    <div class="form-group">

        <label for="name">Include:</label>

        <div class="checkbox" v-for="(value,key) in includesList">
            <label>
                <input type="checkbox" v-bind:value="key" v-model="selectedIncludes">
                {{value}}
            </label>
        </div>

    </div>
</template>
<script>

    export default{
        props : ['includesList'],

        data(){
            return {
                'selectedIncludes' : [],
            }
        },

        watch : {
            selectedIncludes : function(val, oldVal)
            {
                this.$emit("includesUpdated", val);
            }
        },


    }
</script>
