<template>
    <div>
        {{ generate }}
    </div>
</template>

<script>

    export default{
        props : ['report', 'reportInformation', 'generate'],

        updated :  function(val)
        {
            if(this.generate)
            {
                var document = this.generatePDFReport();

                this.$emit("reportGenerated", document);
            }
        },

        methods: {
            generatePDFReport : function(){
                var jsPDF = require('jspdf');
                require('jspdf-autotable');

                var doc = new jsPDF();

                this.createMainTitle(doc);
                this.createSubtitle(doc);

                this.addGeneralInformation(doc);

                this.addIncludes(doc);

                return doc;
            },

            createMainTitle : function(document){
                document.setFontSize(32);
                document.text(this.report.application.name, 20, 20);
            },

            createSubtitle : function(document){
                document.setFontSize(16);
                document.text(this.reportInformation.name, 20, 30);
            },

            addGeneralInformation : function(document)
            {
                var initialY = 50;
                var initialX = 20;

                document.setFontSize(10);
                document.text("Application Name: ", initialX, initialY);
                document.text(this.report.application.name, initialX + 40, initialY);

                document.text("Application Email: ", initialX, initialY + 5);
                document.text(this.report.application.email, initialX + 40, initialY + 5);

                document.text("Created At: ", initialX, initialY + 10);
                document.text(this.report.application.created_at.date, initialX + 40, initialY + 10);

                document.text("Last Update: ", initialX, initialY + 15);
                document.text(this.report.application.last_update.date, initialX + 40, initialY + 15);


                document.setFontSize(14);
                document.text("Admin", initialX, initialY + 30);

                document.setFontSize(10);
                document.text("Email", initialX + 10, initialY + 35);
                document.text(this.report.application.admin.email, initialX + 25, initialY + 35);

                document.text("Name", initialX + 10, initialY + 40);
                document.text(this.report.application.admin.name, initialX + 25, initialY + 40);
            },

            addIncludes : function(document){
                var initialY = 20;
                var initialX = 20;

                for(var i = 0; i < this.report.includes.length; i++)
                {
                    for (var k in this.report.includes[i]){

                        document.addPage('a4');

                        document.setFontSize(14);
                        document.text(this.reportInformation.includesList[k], initialX, initialY);

                        var columns = [];
                        // retrieve table columns
                        for(var col in this.report.includes[i][k].list[0])
                        {
                            columns.push(col);
                        }

                        var rows = [];
                        // retrieve all rows
                        for(var j = 0; j < this.report.includes[i][k].list.length ; j++)
                        {
                            var row = [];

                            for(var col in this.report.includes[i][k].list[j])
                            {
                                row.push(this.report.includes[i][k].list[j][col]);
                            }
                            rows.push(row);
                        }

                        document.setFontSize(10);
                        document.text("Total: " + this.report.includes[i][k].total, initialX, initialY + 10);

                        document.autoTable(columns, rows, {
                            theme: 'grid',
                            startY : initialY + 20,
                            tableWidth: 'wrap',
                            margin: 10,
                            lineHeight : 10,
                            fontSize: 10,
                            overflow: 'linebreak'
                        });
                    }
                }
            }
        }
    }
</script>
