@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box-4{
  width: 25%;
  display: inline-block;
  margin-right: 1em;
}
