<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="sub-title">Applications</div>
            </div>
            <div class="col-md-1">
                <router-link to="/app/application/create" class="btn btn-primary">
                    <i class="fa fa-plus"></i>&nbsp&nbspNew
                </router-link>
            </div>
            <div class="col-md-3">
                <search-bar v-on:search="searchApplication"></search-bar>
            </div>
        </div>
        <hr>

        <div class="alert alert-success" v-if="confirmationMessage != null && confirmationMessage.error == false">
            <div>{{ confirmationMessage.message }}</div>
        </div>
        <div class="alert alert-danger" v-if="confirmationMessage != null && confirmationMessage.error == true">
            <div>{{ confirmationMessage.message }}</div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div v-if="loading">Loading....</div>
                <div v-if="empty">No results found.</div>
                <div class="col-md-3" v-for="app in showingApplicationsWithSearch">
                    <application-panel v-bind:app="app" v-on:app-deleted="removeApplication"></application-panel>
                </div>
            </div>
        </div>

        <pagination :elements="showingApplicationsForPagination" v-on:change-page="changePage"></pagination>
    </div>
</template>

<script>
    import ApplicationPanel from './components/ApplicationPanel.vue'
    import SearchBar from '../utils/SearchBar.vue'
    import Pagination from '../utils/Pagination.vue'

    export default{
        data : function() {
            return {
                fullApplications : {},
                showingApplicationsWithSearch : {},
                showingApplicationsForPagination : {},
                empty : false,
                loading : true,
                confirmationMessage : null
            }
        },

        created : function(){
            this.fetchAllApplications();
        },

        methods:{
            fetchAllApplications: function () {
                this.getApplicationsList().then((response) => {
                    this.$data.loading = false;
                    if(response.data.error == false)
                    {
                        this.$data.showingApplicationsWithSearch = response.data.applications;
                        this.$data.showingApplicationsForPagination = response.data.applications;
                        this.$data.fullApplications = response.data.applications;
                    }
                }, (response) => {
                    // error callback
                });
            },

            searchApplication: function(query) {
                // Init variables
                this.loading = true;
                this.empty = false;
                this.$data.showingApplicationsWithSearch = this.$data.fullApplications;

                // Filter applications by its name
                this.$data.showingApplicationsWithSearch = this.$data.showingApplicationsWithSearch.filter(function(el){
                    return el.name.toLowerCase().indexOf(query.toLowerCase()) !== -1;
                });

                // If no applications found with query, set state to empty.
                if(this.$data.showingApplicationsWithSearch.length == 0)
                    this.empty = true;

                this.loading = false;

                this.showingApplicationsForPagination = this.showingApplicationsWithSearch;
            },

            changePage : function(newShowingApplications)
            {
                this.showingApplicationsWithSearch = newShowingApplications;
            },

            showConfirmationMessage : function(responseResult)
            {
                this.confirmationMessage = responseResult;
            },

            removeApplication : function(responseResult , id)
            {
                // Remove application from applications list.
                if( ! responseResult.error)
                {
                    var fullApplicationsTemp = [];

                    for(var i = 0; i < this.fullApplications.length; i++)
                    {
                        if(this.fullApplications[i].id != id)
                        {
                            fullApplicationsTemp.push(this.fullApplications[i]);
                        }
                    }

                    // Update applications list.
                    this.fullApplications = fullApplicationsTemp;
                    this.showingApplicationsWithSearch = fullApplicationsTemp;
                    this.showingApplicationsForPagination = fullApplicationsTemp;
                }

                // Show confirmation message
                this.showConfirmationMessage(responseResult);
            }

        },

        components: {
            'application-panel' : ApplicationPanel,
            'search-bar' : SearchBar,
            'pagination' : Pagination
        }
    }
</script>
