<template>
    <div class="row">
        <div class="col-md-12">
            <datatable :row_actions="[]" :columns="columns" :data="showingLog" :options="options"></datatable>

            <pagination :elements="deliveries" v-on:change-page="changeCurrentPage" ></pagination>
        </div>
    </div>
</template>

<script>
    import DataTable from '../../../utils/DataTable.vue'
    import Pagination from '../../../utils/Pagination.vue'
    export default{
        props : ['deliveries'],
        data(){
            return{
                showingLog : [],

                columns: {
                    'type' : {
                        'name' : 'Sent to',
                        'display' : function(obj)
                        {
                            return obj == 'all' ? "All" : "Specific";
                        }
                    },
                    'when_date' : {
                        'name' : 'Date'
                    },
                    'delivered' : {
                        'name' : 'Delivered',
                        'display' : function(obj){
                            return obj == 1 ? '<i class="fa fa-check fa-2x text-success"></i>' : '<i class="fa fa-times fa-2x text-danger"></i>';
                        }
                    },
                    'exception' : {
                        'name' : 'Exception'
                    },
                },
            }
        },

        methods: {
            changeCurrentPage : function(showingElements) {
                this.showingLog = showingElements;
            }
        },
        components :{
            'datatable' : DataTable,
            'pagination' : Pagination
        }
    }
</script>
