<template>
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        # Newsletter
                    </div>
                    <div class="panel-body text-center">
                        {{ numNewsletters }}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading text-center">
                        # failures
                    </div>
                    <div class="panel-body text-center">
                        {{ numFailures }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        Targeted Rate (%)
                    </div>
                    <div class="panel-body text-center">
                        {{ targetedRate }}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        Success Rate (%)
                    </div>
                    <div class="panel-body text-center">
                        {{ successRate }}
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>

    export default{
        props : ['failures', 'success'],

        data(){
            return {
                successRate : 0,
                targetedRate : 0,
                numFailures : 0,
                numNewsletters : 0
            }
        },

        watch : {
            failures : function()
            {
                this.successRate = this.success.length / (this.failures.length + this.success.length);
                this.successRate = this.twoDecimalPlaces(this.successRate);

                this.numNewsletters = this.failures.length + this.success.length ;
                this.numFailures = this.failures.length ;
            }
        }
    }
</script>
