<template>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2>Generate Report</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>

                    <div class="form-group">
                        <label for="name">Application Name:</label>
                        <input type="text" class="form-control" id="app_name" v-model="application.name"
                               disabled>
                    </div>

                    <div class="form-group">
                        <label for="name">Report Description:</label>
                        <input type="text" class="form-control" id="name" v-model="report.name"
                               placeholder="Your report description">
                    </div>

                    <includes-component :includesList="report.includesList" v-on:includesUpdated="updateIncludes"></includes-component>

                    <button type="button" v-on:click="generateReport" class="btn btn-success">Generate</button>
                </form>
            </div>
        </div>

        <report id="reportHTML" :report="reportInfo" :reportInformation="report" :generate="generateBool" v-on:reportGenerated="downloadReport" hidden></report>
    </div>
</template>

<script>
    import Includes from './components/Includes.vue'
    import Report from './components/Report.vue'

    export default{
        data(){
            return{
                application : { id : this.$route.params.id},
                report:{
                    'name' : '',
                    'includes' : [],
                    'includesList' : {
                        'active_subscribers' : 'Active Subscribers',
                        'inactive_subscribers' : 'Inactive Subscribers',
                        'failure_stats': 'Failure Information',
                    }
                },

                reportInfo : null,
                generateBool : false

            }
        },

        created : function(){
            this.fetchApplication();
        },

        methods: {
            generateReport : function(){
                this.fetchReportInformation();
            },

            downloadReport : function(document){
                document.save(this.application.name + " - " + Date.now());

                this.generateBool = false;
            },

            fetchApplication: function()
            {
                this.getApplication(this.application.id).then((response) =>
                {
                    if(response.data.error == false)
                        this.application = response.data.application;
                }, (response) => {
                    // error callback
                });
            },

            fetchReportInformation : function() {
                this.getReportInformation(this.application, this.report.includes).then((response) =>
                {
                    this.reportInfo = response.data;

                    this.generateBool = true;
                }, (response) => {
                    // error callback
                });
            },

            updateIncludes : function(newVal)
            {
                this.report.includes = newVal;
            }
        },
        components:{
            'includes-component' : Includes,
            'report' : Report,
        }
    }
</script>
